#something {
    display: none;
}

#something:target {
    display: block;
}
#img{
    background-image: url("../homepage/img/lumi-vignette3.png");
    background-size: 50px;
    width: 50px;
    height: 50px;
}