/* Général */
#header {
    display: flex;
    justify-content: center;
}
#travaux_conteneur{
    display: flex;
    justify-content: center;
}
/* Mise en mode block */
#header a {
    display: block;
    height: 100px;
    width: 100px;
    margin: 1px;
}
#travaux{
    display: block;
}
/* Background des palets du header */
#lumi {
    background-image: url("../img/lumi-vignette3.png");
    background-size: contain;
}
#gmail{
    background-image: url("../img/Gmail-icon.png");
    background-size: contain;
}
#twitter{
    background-image: url("../img/Twitter-icon.png");
    background-size: contain;
}
#facebook{
    background-image: url("../img/Facebook-icon.png");
    background-size: contain;
}
#youtube{
    background-image: url("../img/Youtube-icon.png");
    background-size: contain;
}
#linkedin{
    background-image: url("../img/Linkedin-icon.png");
    background-size: contain;
}
#github{
    background-image: url("../img/Github-icon (1).png");
    background-size: contain;
}
#evernote{
    background-image: url("../img/evernote-icon (2).png");
    background-size: contain;
}
#dropbox{
    background-image: url("../img/Dropbox-ico.png");
    background-size: contain;
}
/*---------------------------------------------*/