/* DIV GENERALE */
body{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
   /* margin-left: 10%;*/
    height: 95px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

nav{
    margin-top: 1px;
    height: 445px;
    max-height: 445px;
    width: 95px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

#corp{
    height: 350px;
    width: 600px;
    margin-top: 2px;
    display: flex;
    position: static;

 }
#corp_plus{
    height: 350px;
    width: 600px;
    margin-top: 2px;
    display: flex;
    z-index: 5;
}

@media all and (max-width: 960px) {
    body{
        margin-top: 20%;
    }
}

/* SOUS-ENSEMBLE NAV */
#lumi{
    background-image: url("img/lumi-vignette3.png");
    height: 95px;
    width: 95px;
    background-size: 95px;
}
#lumi_plus{
    margin-top: 2px;
    height: 350px;
    width: 95px;
    background-color: green;
}
#lumi_plus li {
    margin-left: 3px;
    list-style-type: none;
    text-align: center;
}


/* SOUS-ENSEMBLE HEADER */
header a {
    height: 95px;
    width: 95px;
    background-color: red;
    background-size: 95px;
}
#google_plus{
    background-image: url("img/Google-plus-icon.png");
}
#twitter{
    background-image: url("img/Twitter-icon.png");
}
#facebook{
    background-image: url("img/Facebook-icon.png");
}
#youtube{
    background-image: url("img/Youtube-icon.png");
}
#linkedin{
    background-image: url("img/Linkedin-icon.png");
}

/* SOUS-ENSEMBLE CORP */

#corp button {
    height: 350px;
    width: 198px;
    background-color: coral;
    margin-left: 1.5px;
    border: 0;
}
#corp button:hover{
    cursor: pointer;
}
#corp_plus div {
    height: 350px;
    width: 198px;
    margin-left: 1.5px;
    text-align: center;
    background-color: darkgoldenrod;
}
#games_button{
    background-image: url("img/games.jpg");
    background-size: contain;
}
#devtools_button{
    background-image: url("img/games.jpg");
    background-size: contain;
}#divers_button{
     background-image: url("img/games.jpg");
     background-size: contain;
 }
#games , #games_plus {
    height: 0;
    overflow: hidden;
    transition: height 1s;
}
#games:target {
    height: 350px;
}
#games_plus:target {
    height: 350px;
}

