/* DIV GENERALE */
body{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
   /* margin-left: 10%;*/
    height: 95px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

nav{
    height: 445px;
    width: 95px;
    background-color: yellow;
    margin-right: 5px;
}

#corp{
     height: 350px;
     width: 600px;
    background-color: blueviolet;
 }

@media all and (max-width: 960px) {
    body{
        margin-top: 20%;
    }
}

/* SOUS-ENSEMBLE NAV */
#lumi{
    background-image: url("img/lumi-vignette3.png");
    height: 95px;
    width: 95px;
    background-size: 95px;
}
#lumi_plus{
    height: max;
    width: 95px;
    background-color: green;
}

/* SOUS-ENSEMBLE HEADER */
header a {
    height: 95px;
    width: 95px;
    background-color: red;
    border: 1px black solid;

}
